<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.filet.bioscoopfilet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeFilet">
        <activity android:name=".PresentationApplicationLogicLayer.MainActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PresentationApplicationLogicLayer.InformationActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.PTActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.FeedbackActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.ContactActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.ReviewsActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.FilmOverviewActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.FilmAgendaActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.PaymentActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.MyFiletActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.MyTicketActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.MyTicketDetailActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.MyFilmActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.MyFilmDetailActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.BuyTicketsActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.SeatSelectionActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.FilmDetailAgendaActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.WriteReviewActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".PresentationApplicationLogicLayer.SelectedFilmDetailActivity"
            android:screenOrientation="sensorPortrait"></activity>
    </application>

</manifest>