<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.filet.bioscoopfilet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeFilet">
        <activity android:name=".PresentationApplicationLogicLayer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PresentationApplicationLogicLayer.InformationActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.PTActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.FeedbackActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.ContactActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.ReviewsActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.FilmOverviewActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.PaymentActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.MyFiletActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.BuyTicketsActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.SeatSelectionActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.FilmDetailAgendaActivity" />
        <activity android:name=".PresentationApplicationLogicLayer.FilmAgendaActivity"></activity>
    </application>

</manifest>